@use "../abstracts/variables" as *;
@use "../base/animations" as *;

/*  Marcas que nos eligen  */
.franja-marcas {
    background: $brand;
    padding-block: $space-5;
    color: #fff;
    text-align: center;
    justify-items: center;
    align-items: center;

    h3 {
        margin-top: 0;
        margin-bottom: $space-4;
        font-size: 1.4rem;
    }
}

.marcas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $space-5;
    align-items: center;
    justify-items: center;

    img {
        width: auto;
        max-width: 180px;
        height: auto;
        max-height: 70px;
        object-fit: contain;
        display: block;
        transition: transform .2s ease;
        animation: fadeInDelayed .5s ease-out forwards;

        &:nth-child(1) {
            animation-delay: .1s;
        }

        &:nth-child(2) {
            animation-delay: .2s;
        }

        &:nth-child(3) {
            animation-delay: .3s;
        }

        &:nth-child(4) {
            animation-delay: .4s;
        }
    }
}