@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/extend" as *;

/*  Cards (Index/Productos)  */
.cards {
    display: grid;
    gap: $space-5;
    margin-top: $space-5;
    grid-template-columns: 1fr;
}

.card {
    @extend %panel;
    @include panel-base;
    gap: $space-2;
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: transform .2s ease, box-shadow .2s ease;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    }

    img {
        width: 100%;
        height: 180px;
        object-fit: contain;
        background-color: #fff;
        border-radius: $radius-sm;
        margin-bottom: $space-2;
    }

    h4 {
        font-size: 1rem;
        margin: 0 0 6px 0;
    }

    p {
        font-size: .95rem;
        line-height: 1.45;
        margin: 0;
        flex-grow: 1;
    }
}