@use "../abstracts/variables" as *;

/*  Hero (Index) */
.hero {
    position: relative;
    color: #fff;
    background: url("../img/hero.png") center/cover no-repeat;
    padding: 160px 12px;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, .25);
    }

    h2 {
        font-size: clamp(24px, 3vw, 36px);
        margin: 0 0 var(--space-2) 0;
    }

    p {
        margin: 0;
    }
}

.hero-text {
    position: relative;
    max-width: 600px;
    animation: fadeInUp 1s ease-out forwards;
}