@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/animations" as *;


/*  Cómo comprar – pasos numerados */
.steps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: $space-4;
    margin-top: $space-3;
    counter-reset: paso;

    .step {
        background: $bg-soft;
        border: 1px solid #dfe9d9;
        @include panel-rounded-lg($space-6 $space-4 $space-4);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $space-2;
        min-height: 150px;
        position: relative;

        &::before {
            counter-increment: paso;
            content: counter(paso);
            position: absolute;
            top: 10px;
            left: 10px;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background: var(--c-brand);
            color: #fff;
            @include flex-center;
            font-weight: bold;
            font-size: .9rem;
            z-index: 1;
        }

        .ico {
            width: 64px;
            height: 64px;
            margin: 0 auto 10px;
            @include flex-center;
        }

        &:hover .ico {
            animation: softPulse .6s ease-in-out;
        }
    }
}

.steps-cta {
    margin-top: $space-3;
}