@use "./variables" as *;

/* Placeholder: panel genérico */
%panel {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: $radius;
}

/* Placeholder para estilos de botón relleno */
%btn-filled {
    background-color: var(--c-brand-soft);
    color: var(--c-brand-dark);
    border-color: var(--c-brand-soft);
}